<h1>Log in</h1>

<p>
  <form method="post" action="/login">
    Login: <input type="text" name="username" size="20"><br>
    Password: <input type="password" name="password" size="20"><br>
    <input type="submit" value="Submit">
  </form>
</p>
