<h1>Log in</h1>


<p>Enter your My Tesla login credentials. If this page is <strong>not</strong> running on your own server or your local machine, do not enter anything. This application is meant to be run on your own hardware or hardware you trust, not just anyone's server.</p>

<p>
  <form method="post" action="/login">
    Login: <input type="text" name="username" size="20"><br>
    Password: <input type="password" name="password" size="20"><br>
    <input type="submit" value="Submit">
  </form>
</p>
